
:root{

    --azul-acinzentado-900: #263238;
    --azul-acinzentado-700: #455a64;
    --azul-acinzentado-200: #b0bec5;
    --branco: #ffffff;
    --cerceta-400: #26a69a;

    --font-family: 'Source Sans Pro', sans-serif;
    --icon: FontAwesome;
}