@import url(./componentes/conteiner.css);
@import url(./componentes/button.css);
@import url(./componentes/lista.css);
@import url(./componentes/modal.css);
@import url(./componentes/input.css);
@import url(./componentes/listaConcluida.css);

.dialog{
    display: none;
}

.animacao{
    animation: swing 1s ease;
    animation-iteration-count: 1;
}

.tarefa{
    box-sizing: border-box;
    margin-top: 1em;
}

.tarefa__titulo{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--branco);
    text-align: center;
}

.tarefa__mensagem{
    font-size: 1rem;
    color: var(--azul-acinzentado-200);
    text-align: center;
}

.tarefa__icon-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.tarefa__icon-check:before{
    content: "\f46c";
    font-family: var(--icon);
    color: var(--branco);
    font-size: 5rem;
}

.tarefa__icon-vazio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.tarefa__icon-vazio:before{
    content: "\f328";
    font-family: var(--icon);
    color: var(--branco);
    font-size: 5rem;
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
        opacity: 0.80;
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
        opacity: 0.65;
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
        opacity: 0.50;
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        opacity: 0.30;
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
        opacity: 0.15;
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
}