.form{

}

.input-container{
    width: 100%;
    margin-bottom: 1em;
}

.input{
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
}

.input:focus-visible{
    outline-color: var(--azul-acinzentado-700);
}

.input-none{
    display: none !important;
}